@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="details">
    <span class="artist">@Model.ArtistName</span>
    @if (Model.IsAuthorized)
    {
        if (Model.IsFollowing)
        {
            <label class="btn btn-info btn-sm">Following</label>
        }
        else
        {
            <label class="btn btn-danger btn-sm">Not Following</label>
        }
    }
    <p>
        Performing at
        <span>@Model.Venue</span>
        on
        <span class="date">@Model.Date at @Model.Time</span>
    </p>
    @if (Model.IsAuthorized && Model.IsAttending)
    {
        <p>You are going to this event.</p>
    }
</div>
