@model System.Collections.Generic.IEnumerable<GigHub.Core.Models.ApplicationUser>

@{
    ViewBag.Title = "Followings list";
}

<h1>Artists I'm Following</h1>

<ul class="followings">
    @foreach (var a in Model)
    {
        <li>@a.Name</li>
    }
</ul>